@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: 'Roboto', sans-serif;
    color:rgba(43, 47, 66, 0.8);
    background-color:rgba(61,58,65,0.8);
    margin: 0px;
}

.tile-box {
    position: absolute;
}

.tile-box-mobile {
    position: absolute;
    overflow: hidden;
}

.tile-door-box {
    position: absolute;
    height: 100%;
    width: 100%;
}

.tile-door-number {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    //text-shadow: 5px 5px 5px black;
    backface-visibility: hidden;
    cursor: pointer;
}

.tile-door-front {
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    backface-visibility: hidden;
}

.tile-canvas {
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
}

.tile-door-back {
    background-color: #B3B1B1;
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.tile-artist-image-mobile {
}

.tile-artist-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateY(180deg);
}

.tile-back {
    display: flex;
    flex-flow: row;
    background-color: #F6F6F6;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 98%;
    width: 98%;
}

.area {
    position: absolute;
    width: 100%;
}

.surprise-box {
    width: 100%;
    height: 100%;
}

.surprise-text {
    width: 95%;
    height: 95%;
    overflow: hidden;
    color: rgba(43,43,43);
    text-align: left;
}

.surprise-text {
    width: 95%;
    height: 80%;
    overflow: hidden;
    color: rgba(43,43,43);
    text-align: left;
}

.surprise-title {
    padding: 0.5em;
}

.surprise-artist {
    padding: 0.5em;
}

.surprise-play-icon-mobile {
   cursor: pointer;
   position: absolute;
}

.surprise-play-icon {
   cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 3%;
}

.surprise-play-icon:hover {
    fill: #ed2130;
}

.progress-outer {
    cursor: pointer;
    position: absolute;
    background: #dddddd;
}

.progress-inner {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    background: #ed2130;
}

.progress-knob {
    cursor: pointer;
    background: #ed2130;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.progress-knob:hover {

}

.audio-control-box-mobile {
    position: absolute;
    width: 10%;
    bottom: 0%;
    right: 10%;
}

.mobile-box {
    margin: 0px auto;
}

.mobile-main {
    width: 100%;
}

.image-cropper {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
